h1 {
  margin-top: 25px;
}

img[alt="logo"] {
  width: 200px;
}

code.hljs {
  padding: 0.6em;
  font-size: 0.9em;
  line-height: 1.5em;
}

pre.indented {
  font-size: 0.9em;
}

li {
  font-size: 16px;
}

.wy-side-nav-search {
  background-color: #2BBFA7;
}

.wy-side-nav-search input[type=text] {
  border-color: #1E8776;
}
