lerna-debug.log
packages/**/node_modules
node_modules
yarn-error.log
.vscode
.DS_Store

# truffle
packages/truffle/build
packages/truffle/stats.json
packages/truffle/.DS_Store
packages/truffle/.tern-port
packages/truffle/dependencies

# @truffle/debugger
packages/debugger/.tmp

# @truffle/contract
packages/contract/dist
