dependency-graph.pdf
lerna-debug.log
**/*.backup
packages/**/node_modules
node_modules
packages/*/dist
packages/*/dist-browser
packages/*/build
packages/*/frontend-build
yarn-error.log
.vscode
.idea
.DS_Store
Thumbs.db
$RECYCLE.BIN/

# truffle
packages/truffle/stats.json
packages/truffle/.DS_Store
packages/truffle/Thumbs.db
packages/truffle/.tern-port
packages/truffle/dependencies
packages/truffle/$RECYCLE.BIN/

# @truffle/debugger
packages/debugger/.tmp

# @truffle/contract
packages/contract/browser-dist

tsconfig.tsbuildinfo
