{
  "all": true,
  "reporter": "lcovonly",
  "exclude": [
    "**/node_modules/**",
    "**/.tmp",
    "**/scripts/**",
    "**/test",
    "packages/truffle/build",
    "**/webpack",
    "**/*webpack.config*",
    "packages/truffle/nil.js"
  ]
}
