{
  "cache": true,
  "all": true,
  "report": "lcovonly",
  "exclude": [
    "**/node_modules/**",
    "**/.tmp",
    "**/scripts/**",
    "**/test",
    "**/build",
    "**/dist",
    "**/webpack",
    "**/*webpack.config*"
  ]
}
